<h3>IP and Asset Tracking Database</h3>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= render :partial => 'home/admin_links' %><br />
  <% end  %>
    <%= render :partial => 'home/user_links' %><br />
<% else %>
  <p>Please <%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %>.</p>
<% end %>
