<%= form_for(@range) do |f| %>
  <% if @range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@range.errors.count, "error") %> prohibited this range from being saved:</h2>

      <ul>
      <% @range.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_ip %><br />
    <%= f.text_field :start_ip %>
  </div>

  <div class="field">
    <%= f.label :end_ip %><br />
    <%= f.text_field :end_ip %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
