<h1>Listing IP Ranges</h1>

<table class="ranges-table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
  </tr>

<% @ranges.each do |range| %>
  <tr>
    <td><%= range.start_ip %></td>
    <td><%= range.end_ip %></td>
    <td><%= link_to 'Edit', edit_address_range_path(range) %></td>
    <td><%= link_to 'Destroy', range, confirm: 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Range', new_address_range_path %>
