<p id="notice"><%= notice %></p>

<p>
  <b>Range:</b>
  <%= "#{@range.start_ip} + #{@range.end_ip}" %> 
</p>


<%= link_to 'Edit', edit_address_range_path(@range) %> |
<%= link_to 'Back', address_ranges_path %>
