<h1>Listing assets</h1>

<table class="assets-table">
  <tr>
    <th>Name</th>
    <th>Ip</th>
    <th>Address range</th>
    <th>Comments</th>
    <th>Last edited by</th>
    <th colspan="3">Actions</th>
  </tr>

<% @assets.each do |asset| %>
  <tr>
    <td><%= asset.name %></td>
    <% if asset.ip.nil? %>
    <td></td>
    <td></td>
    <% else %>
    <td><%= asset.ip.ip_name %></td>
    <td><%= asset.ip.address_range.full_name %></td>
    <% end %>
    <td><%= smart_truncate(asset.comments, :words => 5) %></td>
    <td><%= asset.last_edit %></td>
    <td><%= link_to 'Show', asset %></td>
    <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
    <td><%= link_to 'Destroy', asset, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Asset', new_asset_path %>
