<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @asset.name %>
</p>

<p>
  <b>Ip:</b>
  <%= @asset.ip_id %>
</p>

<p>
  <b>Address range:</b>
  <%= @asset.address_range_id %>
</p>

<p>
  <b>Comments:</b>
  <%= @asset.comments %>
</p>

<p>
  <b>Last edit:</b>
  <%= @asset.last_edit %>
</p>


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
