/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import 'bootstrap';

header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.users-table {
  width:100%;
  
  tr td {
    border: 1px solid #ccc;
    padding:5px;
  }
  .even {
    background-color:#eee;
  }
  .odd {

  }
  .disabled {
    background-color:#FF6969;
  }
}

.ips-table {
  width:100%;
  
  tr td {
    border: 1px solid #ccc;
    padding:5px;
  }
  .even {
    background-color:#eee;
  }
  .odd {

  }
}

.ranges-table {
  width:100%;
  
  tr td {
    border: 1px solid #ccc;
    padding:5px;
  }
  .even {
    background-color:#eee;
  }
  .odd {

  }
  .disabled {
    background-color:#FF6969;
  }
}

.assets-table {
  width:100%;
  
  tr td {
    border: 1px solid #ccc;
    padding:5px;
  }
  .even {
    background-color:#eee;
  }
  .odd {

  }
  .disabled {
    background-color:#FF6969;
  }
}
