<h1>Registered Users</h1>
<p class ="users-blurb">Nb. You cannot demote or delete the currently logged in user.</p>
<table class="users-table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin?</th>
    <th colspan="2">Actions</th>
  </tr>
  <% @users.each do |a| %>
    <tr>
      <td><%= a.name %></td>
      <td><%= a.email %></td>
      <% if current_user.email == a.email %>
      <td><%= a.admin? ? 'True' : 'False' %></td>
      <td colspan="3"><%= link_to "Edit", edit_user_registration_path(a) %></td>
      <% else %>
      <td>
        <%= render :partial => 'admin/users/admin_toggle', :locals => { :user => a } %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_user_path(a) %>
      </td>
      <td class="approval-cell">
        <%= render :partial => 'admin/users/approval_toggle', :locals => { :user => a } %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>