<%= form_for(@ip) do |f| %>
  <% if @ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ip.errors.count, "error") %> prohibited this ip from being saved:</h2>

      <ul>
      <% @ip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip_name %><br />
    <%= f.text_field :ip_name %>
  </div>
  <div class="field">
    <%= f.label :address_range_id %><br />
    <%= f.collection_select :address_range_id, AddressRange.all.collect, :id, :full_name, :prompt => "Please select IP", :blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
