<h1>Listing ips</h1>

<table class="ips-table">
  <tr>
    <th>IP</th>
    <th>Range</th>
    <th colspan="2">Actions</th>
  </tr>

<% @ips.each do |ip| %>
  <tr>
    <td><%= ip.ip_name %></td>
    <td><%= ip.address_range_id %></td>
    <td><%= link_to 'Edit', edit_ip_path(ip) %></td>
    <td><%= link_to 'Destroy', ip, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ip', new_ip_path %>
