<p id="notice"><%= notice %></p>

<p>
  <b>IP:</b>
  <%= @ip.ip_name %>
</p>

<p>
  <b>Range:</b>
  <%= @ip.address_range.full_name %>
</p>

<%= link_to 'Edit', edit_ip_path(@ip) %> |
<%= link_to 'Back', ips_path %>
